.idea
node_modules
.DS_Store

.lock

# Kirby cache
/media/*
!/media/index.html

# Kirby security
/site/cache/*
!/site/cache/index.html
/site/accounts/*
!/site/accounts/index.html
/site/sessions/*
!/site/sessions/index.html
/site/config/.license
