[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/git-content"]
	path = site/plugins/git-content
	url = https://github.com/thathoff/kirby-git-content.git
[submodule "site/plugins/vite"]
	path = site/plugins/vite
	url = https://github.com/arnoson/kirby-vite.git
