# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

RewriteEngine on

# redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.storiedibit\.it [NC]
RewriteRule ^(.*)$ https://storiedibit.it/$1 [L,R=301]

# except for static folders, everything should be served by Kirby (producing 404 for forbidden files)
RewriteCond %{REQUEST_URI} !^/media/
RewriteCond %{REQUEST_URI} !^/assets/(?!src)
RewriteCond %{REQUEST_URI} !^/\.well-known/
RewriteRule ^(.*) index.php [L]

# we get here only for static files
# if the requested static file doesn't exist, let Kirby generate it or return 404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) index.php [L]

</IfModule>

# pass the Authorization header to PHP
SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1

# compress text file responses
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# fix for webp images
<IfModule mod_mime.c>
AddType image/webp webp
</IfModule>

# set security headers in all responses
<IfModule mod_headers.c>

# serve files as plain text if the actual content type is not known
# (hardens against attacks from malicious file uploads)
Header set Content-Type "text/plain" "expr=-z %{CONTENT_TYPE}"
Header set X-Content-Type-Options "nosniff"

</IfModule>
