@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: RecoletaMedium;
  font-display: swap;
  font-weight: 600;
  src: url(fonts/RecoletaMedium.woff2) format('woff2');
}

@font-face {
  font-family: RecoletaSemiBold;
  font-display: swap;
  src: url(fonts/RecoletaSemiBold.woff2) format('woff2');
}

/* TODO: get rid of Recoleta */

/* TODO: embed Publico */

@layer base {
  h1 {
    @apply font-title text-center text-5xl pt-20 pb-14;

    &.v2 {
      @apply font-sans text-left font-semibold;
    }
  }

  h2 {
    @apply font-title font-semibold mt-16 mb-8 mx-auto text-center text-3xl;
    line-height: 1.1;

    &.v2 {
      @apply text-left my-5 font-sans;
    }
  }

  h3 {
    @apply mt-10 font-semibold text-lg;
  }

  b, strong {
    font-weight: 600;
  }

  p, ul, li {
    @apply my-2.5;
    font-size: 17px;
    line-height: 1.65;
  }

  p a, ul a {
    @apply underline;
  }

  ul {
    @apply list-disc list-outside pl-4;

    li p {
      @apply inline;
    }

    li > ul {
      @apply ml-5;
    }
  }

  hr {
    @apply border-t border-gray-200;

    &.v2 {
      @apply border-t-2 border-gray-200;
    }
  }

  figure {
    @apply my-5;
  }
}

@layer components {
  .container {
    @apply px-4;
  }

  .newsletter {
    blockquote {
      @apply bg-sdb-gray-100 my-5 font-blockquote text-center rounded-lg;
      padding: 25px 20px;
      font-size: 24px;
      line-height: 32px;

      footer {
        @apply block mt-5 font-sans text-center text-gray-600 text-sm;

        a {
          @apply underline;
        }
      }
    }

    .sources-pill {
      @apply bg-sdb-gray-200 hover:bg-sdb-gray-300 transition-colors px-2.5 py-1 rounded-md text-sm font-semibold flex items-center gap-1.5 cursor-pointer;

      &.selected {
        @apply bg-accent text-white;

        img {
          filter: invert(1);
        }
      }
    }
  }

  .newsletter.v1 {
    hr {
      margin: 40px 0;
    }
  }

  .newsletter.v2 {
    hr {
      margin: 50px 0 25px 0;
      @apply border-t-2 border-gray-200;
    }

    p, ul, li {
      @apply my-2.5 font-serif;
      font-size: 19px;
      line-height: 1.5;
    }
  }

  .article {
    p {
      @apply font-article-body;
      font-size: 20px;
      line-height: 30px;
    }

    h2 {
      @apply font-article-headline text-left mt-8 mb-4 text-3xl;
    }
  }
}
