@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: RecoletaMedium;
  font-display: swap;
  src: url(fonts/RecoletaMedium.woff2) format('woff2');
}

@font-face {
  font-family: RecoletaSemiBold;
  font-display: swap;
  src: url(fonts/RecoletaSemiBold.woff2) format('woff2');
}

/* TODO: embed Publico */

@layer base {
  h1 {
    @apply font-title text-center text-5xl pt-20 pb-14;
  }

  h2 {
    @apply font-title font-semibold mt-16 mb-8 mx-auto text-center text-3xl;
    line-height: 33px;
  }

  h3 {
    @apply mt-10 font-semibold text-lg;
  }

  p, ul, li {
    @apply my-2.5;
    font-size: 17px;
    line-height: 28px;
  }

  p a, ul a {
    @apply underline;
  }

  ul {
    @apply list-disc list-inside;

    li p {
      @apply inline;
    }

    li > ul {
      @apply ml-5;
    }
  }

  hr {
    @apply border-t border-gray-300;
  }

  figure {
    @apply my-5;
  }
}

@layer components {
  .container {
    @apply px-4;
  }

  .newsletter {
    blockquote {
      @apply bg-sdb-gray-100 my-5 font-blockquote text-center rounded-lg;
      padding: 25px 20px;
      font-size: 24px;
      line-height: 32px;

      footer {
        @apply block mt-5 font-sans text-center text-gray-600 text-sm;

        a {
          @apply underline;
        }
      }
    }
  }

  .article {
    p {
      @apply font-article-body;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
